<link rel="import" href="../bower_components/polymer/polymer.html">
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>

<dom-module id="orders-table">
    <template>
        <table class="table .table-striped">
            <thead>
                <th>
                    <td>Accession No.</td>
                    <td>Patient</td>
                    <td>Urgency</td>
                    <td>Imaging Procedure</td>
                    <td>Referring Physician</td>
                    <td>Scheduled date</td>
                    <td>Date activated</td>
                    <td>Date Stopped</td>
                    <td>Action</td>
                </th>
            </thead>
            <tbody>
                <tr template repeat="{{order in orders}}">
                    <td>{{order.accessionNumber}}</td>
                    <td>{{order.patient.patientId}}</td>
                    <td>{{order.urgency}}</td>
                    <td>{{order.concept.display}}</td>
                    <td>{{order.orderer.providerId}}</td>
                    <td>{{order.scheduledDate}}</td>
                    <td>{{order.dateActivated}}</td>
                    <td>{{order.dateStopped}}</td>
                    <td>{{order.action}}</td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: "orders-table",
            getApiBaseUrl: function (callback) {
                jQuery.getJSON("manifest.webapp", function (data) {
                    var url = data.activities.openmrs.href + "/ws/rest/v1";
                    //console.log(url);
                    callback(url);
                });
            },
            getOrders: function (_url) {
                $.ajax({
                    type: "GET",
                    url: _url,
                    crossDomain: true,
                    contentType: 'application/json',
                    success: function (data) {
                        //console.log(data);
                        this.orders = data;
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status + " " + thrownError);
                    }
                })
            },
            properties: {
                orders: [],
            },
            ready: function () {
                this.getApiBaseUrl(this.getOrders);
            }
        });
    </script>
</dom-module>